
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Raleway:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Pacifico&family=Raleway:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');



body{

  background-color: #101010;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

ul { 
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 31px;
    align-items:flex-end;
    font-family: 'Oswald', sans-serif,light 300;
    
   }


   a {
  color: white;
  text-decoration: none;
   }

   img{ 
    width: 150px;
    height: 150px;
    border-radius: 60%;
    border: 5px solid rgb(255, 255, 255);
   }



.center {
text-align: center;
}

h3{
  
  font-family: 'Pacifico', cursive;

text-align: center;
font-size: 50px;
}

h4 {
  padding: 0.5%;
  font-family: 'Oswald', sans-serif,light 300;
}

h2 {

text-align: left ;
}